page-profile {
  $border-radius-progress-bar: 5px;
  .chart-level {
    text-align: center;
    font-size: 4rem;
    margin-top: -40px;
    width: 100%;
    position: relative;
    .level {
      width: 60px;
      margin: 0 auto;
      background-color: $status_lightgrey;
    }
    .text {
    }
  }
  .label-circle {
    color: $label-circle-color;
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-size: 47px;
    font-weight: 100;
    margin-top: 22%;
    margin-left: 20%;
    position: absolute;
  }
  .chart-progress:first-child {
    width: 60%;
    margin: 15px auto 0;
  }

  .org-card {
    background-color: $status_lightgrey;
    .org-card-header {
      padding: 6px;
      text-align: center;
      font-size: 3rem;
    }
    .org-card-content {
      .progress-bar-wrap {
        height: 15px;
        width: 100%;
        border-radius: $border-radius-progress-bar;

        .progress-bar {
          height: 15px;
          border-radius: $border-radius-progress-bar;
          width: 30%;
          background-color: #005efe;

        }
      }
      .category-wrap {
        width: 100%;
        margin-top:10px;

        .category {
          height: 50px;
          display: flex;
          padding: 5px;

          .text {
            width: calc(100% - 40px);
            display: inline-block;
            font-size: 1.8rem;
            padding-top: 5px;
          }
          .icon {
            display: inline-block;
            width: 35px;
            height: 35px;
            border-radius: 17px;
            //background-image: url('../img/cat2.jpeg');
            //background-size: cover;

            img {
              width: 35px;
              height: 35px;
              border-radius: 17px;
            }
          }
        }
      }
    }
  }
}
