page-messages {
  .user-groups {
    .user-groups-wrap {
      width: 100%;
      height: 100%;

      .unread-message {
        width: 20px;
        height: 20px;
        border: 2px solid $status_white;
        background: $status_green_badges;
        color: $status_black;
        text-align: center;
        position: absolute;
        margin-left: 2.6rem;
        margin-top: 2.7rem;
        border-radius: 10px;
        font-size: 1.4rem;
      }

      .last-message {
        text-overflow: ellipsis;
        overflow: hidden;
      }

    }
  }
}
