<!--
  Generated template for the Messages page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->

  <!--<ion-navbar>-->
    <!--<ion-title>messages</ion-title>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->


<ion-content>
  <div class="user-groups">
    <div class="user-groups-wrap">
      <ion-list>
        <!--(click)="openDialog({interlocutor:dialog.interlocutor, lastMessage:dialog.lastMessage})"-->
        <ion-item *ngFor="let dialog of dialogs;" [navPush]="ModalDialogPage" [navParams]="getParams(dialog.interlocutor,dialog.lastMessage)">
          <ion-avatar item-left>
            <img *ngIf="dialog.interlocutor.avatar != ''" class="contacts-avatar-img"
                 src="{{dialog.interlocutor.avatar}}"/>
            <div class="unread-message" *ngIf="dialog.unreadMessage > 0">{{dialog.unreadMessage}}</div>

            <div *ngIf="dialog.interlocutor.avatar == ''" class="color-avatar">
              {{dialog.interlocutor.shortName}}
            </div>
            <!--<img src="{{contact.avatar}}">-->
          </ion-avatar>
          <h2>{{dialog.interlocutor.displayName}}</h2>

          <p class="last-message">{{dialog.lastMessage.text}}</p>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
